<div *ngFor="let profile of profileOwn | async">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="example-header-image" src={{profile.profilePhoto}} alt="Photo">
      </div>
      <mat-card-title>{{profile.name }} {{profile.surname}}</mat-card-title>
      <a routerLink='/profile/edit'>
        <mat-icon class="tooltip" matTooltip="press to edit profile">edit</mat-icon>
      </a>
    </mat-card-header>
    <img mat-card-image src={{profile.coverPhoto}} alt="cover photo">
    <mat-card-content>
      <p><strong>E-mail:</strong> {{profile.emailProfile}}</p>
      <p><strong>Location:</strong> {{profile.location}}</p>
      <p><strong>BIO:</strong> {{profile.bio }}</p>
      <p><strong>birthday:</strong> {{profile.birthday}}</p>
    </mat-card-content>
  </mat-card>
</div>