<div *ngIf="profile">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="example-header-image" src={{profile.profilePhoto}} alt="Photo">
      </div>
      <mat-card-title>{{profile.name }} {{profile.surname}}</mat-card-title>
      <a routerLink='/profile/edit'>
        <mat-icon class="tooltip" matTooltip="press to edit profile">edit</mat-icon>
      </a>
    </mat-card-header>
    <img mat-card-image src={{profile.coverPhoto}} alt="cover photo">
    <mat-card-content>
      <p><strong>E-mail:</strong> {{profile.emailProfile}}</p>
      <p><strong>Location:</strong> {{profile.location}}</p>
      <p><strong>BIO:</strong> {{profile.bio }}</p>
      <p><strong>birthday:</strong> {{profile.birthday}}</p>
    </mat-card-content>
    <form (ngSubmit)="post()" [formGroup]="postFormGroup">
      <div fxFlex fxLayout="column" fxLayoutAlign='center center'>
        <mat-form-field>
          <input matInput placeholder="post" formControlName="post" required type="text">
        </mat-form-field>
        <div>
          <button mat-raised-button>Post</button>
        </div>
      </div>
    </form>
  </mat-card>
  <mat-card class="example-card" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="example-header-image" src={{profile.profilePhoto}} alt="Photo">
      </div>
      <span class="post-holder">{{post.post}}</span>
      <form (ngSubmit)="deletePost(post.id)" [formGroup]="deletePostFormGroup">
        <button type="submit" mat-raised-button>
          <mat-icon class="tooltip" matTooltip="press to delete post">delete</mat-icon>
        </button>
      </form>
    </mat-card-header>
    <hr>
    <div *ngFor="let comment of post.comments">
      <mat-card class="comment-card">
        <mat-card-header>
          <div mat-card-avatar>
            <img class="example-header-image" src={{comment[1].profilePhoto}} alt="Photo">
          </div>
          <mat-card-title><strong>{{comment[1].name}}</strong></mat-card-title>
        </mat-card-header>
        <p class="comment-holder"> {{comment[1].comment}}</p>
      </mat-card>
    </div>
  </mat-card>
</div>