* {
  text-decoration: none;
}

.example-card {
  max-width: 400px;
  transition: all .2s ease-in-out;
}

.example-card:hover {
  transform: scale(1.1);
}

.example-header-image {
  height: 35px;
  width: 35px;
  border-radius: 25px;
}

.cover-photo,
mat-card-image {
  width: 350px;
  height: 250px;
}

.flex-container {
  display: inline-flex;

}

.flex-item {
  margin: 3em;
}
