<div class=frame fxLayout="row" fxLayoutAlign="space-evenly center">
    <img class="rotateimg180" src="https://images.pexels.com/photos/1282270/pexels-photo-1282270.jpeg" alt="">
    <mat-card id="home-text">
        This is single page application based on angular. The web site is only for 
        for exam defense project. Here you can create a profile
        in our Facediary social site. You can add profile photo, cover photo and basic information
        about you. You can review others people profiles and so they can also.
    </mat-card>
</div>