<mat-toolbar color='primary'>
  <div>
    <a routerLink='/'>
      <mat-icon inline=true>forum</mat-icon>
      <span id="name-app">Facediary</span>
    </a></div>
  <ul fxFlex fxLayout fxLayoutGap='10px' fxLayoutAlign='flex-end'>
    <li *ngIf="!authService.isAuthenticated()"><a routerLink='/login' routerLinkActive='active'>
        <mat-icon inline=true>person</mat-icon>
        Login
      </a></li>
    <li *ngIf="!authService.isAuthenticated()"><a routerLink='/register' routerLinkActive='active'>
        <mat-icon inline=true>person_add</mat-icon>
        Register
      </a></li>
    <li *ngIf="authService.isAuthenticated()"><a routerLink='/profiles/my' routerLinkActive='active'>
        <span id="profile-name">My profile</span>
      </a></li>
    <li *ngIf="authService.isAuthenticated()"><a routerLink='/profiles/all' routerLinkActive='active'>All profiles</a>
    </li>
    <li *ngIf="authService.isAuthenticated()"><a (click)="logout()" id="logout" routerLinkActive='active'>Logout</a>
    </li>
  </ul>
</mat-toolbar>