ul {
  list-style: none
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa
}

#logout:hover {
  cursor: pointer;
}

.active {
  color: rgb(250, 32, 32);
}

.profile-image {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
  float: left;
}

@media only screen and (max-width: 768px) {
  #name-app {
    color: transparent;
    width: 1px;
    font-size: 0;
  }

  #profile-name {
    color: transparent;
    width: 1px;
    font-size: 0;
  }
}
